.cardtabs-component-box {
    display: flex;
    justify-content: space-between;

    :last-child {
        margin-right: 0px;
    }
}
.carditem-component-box {
    display: flex;
    background: #f7f8f8;
    border-radius: 6px;
    width: 100%;
    height: 79px;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;

    .icon {
        width: 40px;
        height: 40px;
        margin: 0 10px;
    }
    .info {
        width: 100%;
        padding-right: 15px;

        .name-persent {
            display: flex;
            justify-content: space-between;
    
            .name {
                font-size: 12px;
                color: #999;
                line-height: 18px;
            }
            .name-active {
                font-size: 12px;
                color: #ffffff;
                opacity: 0.8;
                line-height: 18px;
            }
            .persent {
                display: flex;
                font-size: 12px;
                color: #000;
                line-height: 18px;
            }
            .persent-active {
                display: flex;
                font-size: 12px;
                color: #ffffff;
                line-height: 18px;
            }
        }
        .value {
            font-size: 24px;
            line-height: 26px;
            margin-top: 3px;
            max-width: 200px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .value-active {
            font-size: 24px;
            color: #ffffff;
            line-height: 26px;
            margin-top: 3px;
            max-width: 200px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
.carditem-selected {
    background-image: linear-gradient(137deg,#5f51ff,#326fff 76%)!important;
}