.wave-analysis-component-box {
    .card-tabs-box {}
    .table-box {
        .titile-and-btn {
            margin-bottom: 16px;
            display: flex;
            justify-content: space-between;
            span {
                font-size: 14px;
                font-weight: 500;
            }
        }

        margin-top: 30px;;
    }
}