.product-news-component-box {
    padding: 18px 20px 18px 20px;
    border-radius: 8px;
    background-color: #ffffff;

    .news-list {
        // background: lightblue;
        .news-item {
            font-size: 14px;
            color: #333;
            padding-right: 12px;
            margin-bottom: 16px;
            .title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
            }
            .other-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .source {
                    font-size: 12px;
                    color: #999;
                }
                .time {
                    font-size: 12px;
                    color: #999;
                }
            }
        }
    }
    .ant-carousel {
        .slick-dots {
            bottom: -15px;

            li {
                background: #d8d8d8;
            }
            .slick-active {
                button {
                    background: #326fff;
                }
            }
        }
    }
}