.data-trend-component-box {
    height: 437px;
    background-color: #ffffff;
    padding: 18px 20px 2px;
    // border-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 1px 1px 20px 0 rgba(183,183,188,.1);
    .card-tabs-box {}
    .line-chart-box {
        margin-top: 30px;
    }
}