.index-banner-component-box {
    border-radius: 8px;
    overflow: hidden;
    img {
        width: 100%;
        height: 148px;
        line-height: 148px;
        text-align: center;
        color: #fff;
        background: #364d79;
    }
}