.header-component-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid #d3d9e6;
    padding: 0px 32px;
    background-color: #fff;

    .left {
        display: flex;
        align-items: center;
        .logo {
            background: url('https://cdn.jsdelivr.net/gh/webyang-male/yangimgs/gadlogo.png') no-repeat;
            width: 66px;
            height: 64px;
            background-size: 100%;
            margin-right: 16px;
        }
        .menu {
            width: 640px;
            padding-top: 4px;
            display: flex;
            align-items: center;
            text-align: right;
        }
    }
    .user-info {
        .user-name {
            margin-left: 5px;
        }
    }
}

.index-menuItem-component-box {
    padding: 0 16px;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    position: relative;

    .menu-item-title {
        cursor: pointer;
    }
    &:hover {
        .bottom-line {
            visibility: visible;
            bottom: -2px;
            left: 0;
            transition: left 0.2s;
        }
        .menu-children-box {
            visibility: visible;
            // right: -1px;
            opacity: 1;
            transition: all .3s ease;
        }
        .arrow-icon {
            width: 7px;
            height: 7px;
            display: inline-block;
            border-top: 1px solid #848b99;
            border-right: 1px solid #848b99;
            transform: rotate(-45deg);
            margin-left: 8px;
            margin-bottom: -2px;
        }
    }
    .arrow-icon {
        width: 7px;
        height: 7px;
        display: inline-block;
        border-top: 1px solid #848b99;
        border-right: 1px solid #848b99;
        transform: rotate(135deg);
        margin-left: 8px;
        margin-bottom: 3px;
    }
    .bottom-line {
        visibility: hidden;
        width: 100%;
        border: 1px solid #0052cc;
        position: absolute;
        bottom: -3px;
        // left: -20px
    }
    .bottom-line-active {
        width: 100%;
        border: 1px solid #0052cc;
        position: absolute;
        bottom: -2px;
        left: 0;
    }
    .menu-children-box {
        visibility: hidden;
        padding: 0 16px;
        position: absolute;
        opacity: .3;
        top: 62px;
        left: 0;
        line-height: 25px;
        z-index: 100;
        background: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
        font-size: 12px;
        color: #9c9c9c;
        border-radius: 4px;

        .menu-child {
            margin: 5px;
            font-size: 14px;
            text-align: left;
            min-width: 75px;
            display: flex;
            align-items: center;

            span {
                color: #9c9c9c;
                text-decoration: none;
                white-space: nowrap;
                cursor: pointer;
                margin-right: 5px;
            }
        }
    }
}