.search-promotion-page-box {
    .header {
        // height: 100px;
        // border: 1px solid red;
    }
    .content {
        width: 1220px;
        margin: 25px auto 0;

        .account-box {
            // height: 300px;
            // border: 1px solid red;
        }

        .data-trend-box {
            margin-top: 20px;

            .data-trend-title {
                height: 32px;
                line-height: 32px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                background-color: #ffffff;
                padding: 18px 20px 30px;
                font-size: 21px;
            }
        }

        .wave-analysis-box {
            margin-top: 20px;
            // height: 300px;
            background-color: #ffffff;
            border-radius: 8px;
            padding: 18px 20px 30px;
            // border: 1px solid red;

            .title {
                height: 32px;
                line-height: 32px;
                // border-top-left-radius: 8px;
                // border-top-right-radius: 8px;
                // background-color: #ffffff;
                // padding: 18px 20px 30px;
                font-size: 21px;
                margin-bottom: 15px;
            }
        }

        .user-portrait-box {
            margin-top: 20px;
            // height: 300px;
            background-color: #ffffff;
            border-radius: 8px;
            padding: 18px 20px 30px;
            // border: 1px solid red;

            .title {
                height: 32px;
                line-height: 32px;
                font-size: 21px;
                margin-bottom: 15px;
            }
        }
    }

    .footer {
        width: 100%;
        height: 100px;
        margin-top: 20px;
    }
}