.auto-modal-component-box {
    
}

.auto-modal {
    .ant-modal-content {
        .ant-modal-body {
            .prompt-area {
                margin-top: -5px;
            }
        
            .go-on-promotion-area {
                margin-top: 10px;
            }
            
            .form-area {
                margin-top: 20px;
            }
        }
    }
}